<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CadastroUsuarios</title>
</head>
<body>
<form action="/salvarusuarios" method="post">

        <label>login</label>
        <input name="login" required>
        <label>senha</label>
         <input type="password" name="password" required>
		<label>Cargo</label>
		<input name="cargo" required>
        
        <label>Empresa</label>
        <input name="empresa" required>
         <input type="submit" value="Salvar">
        
        
</form>
</body>
</html>